@use "@/app/variables";

.button {
    width: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 28px;
    border: solid 1px variables.$hoverBtnBgColor;
    border-radius: 2px;

    &:hover,
    &:active {
        background-color: variables.$hoverBtnBgColor;
        color: variables.$secondaryTextColor;
    }

    @media screen and (min-width: variables.$tablet) {
        padding: 8px 32px;
    }

    @media screen and (min-width: variables.$desktop) {
        padding: 12px 56px;
    }
}
