@use "@/app/variables";

.socialList {
  display: flex;
  align-items: center;
  column-gap: 8px;

  @media screen and (min-width: variables.$desktop) {
    column-gap: 16px;
  }
}

.socLinkItem {
  display: block;
  width: 32px;
  height: 32px;
}

.iconClass {
  width: 32px;
  height: 32px;
}

.facebook {
  fill: variables.$secondaryTextColor;
}

.socLinkItem:hover .facebook,
.socLinkItem:active .facebook {
  fill: variables.$hoverBtnBgColor;
}

.facebookDark {
  fill: variables.$mainTextColor;
}

.socLinkItem:hover .facebookDark,
.socLinkItem:active .facebookDark {
  fill: variables.$hoverBtnBgColor;
}

.instagram {
  fill: none;
  stroke: variables.$secondaryTextColor;
}

.socLinkItem:hover .instagram,
.socLinkItem:active .instagram {
  stroke: variables.$hoverBtnBgColor;
}

.instagramDark {
  fill: none;
  stroke: variables.$mainTextColor;
}

.socLinkItem:hover .instagramDark,
.socLinkItem:active .instagramDark {
  stroke: variables.$hoverBtnBgColor;
}

.viber {
  fill: variables.$secondaryTextColor;
}

.socLinkItem:hover .viber,
.socLinkItem:active .viber {
  fill: variables.$hoverBtnBgColor;
}

.viberDark {
  fill: variables.$mainTextColor;
}

.socLinkItem:hover .viberDark,
.socLinkItem:active .viberDark {
  fill: variables.$hoverBtnBgColor;
}

.telegram {
  width: 30px;
  height: 30px;
  fill: variables.$secondaryTextColor;
}

.socLinkItem:hover .telegram,
.socLinkItem:active .telegram {
  fill: variables.$hoverBtnBgColor;
}

.telegramDark {
  width: 30px;
  height: 30px;
  fill: variables.$mainTextColor;
}

.socLinkItem:hover .telegramDark,
.socLinkItem:active .telegramDark {
  fill: variables.$hoverBtnBgColor;
}
