@use '../../app/variables';

.socialList {
  display: flex;
  align-items: center;
  column-gap: 8px;
  @media screen and (min-width: variables.$tablet) {
    column-gap: 14px;
  }
}

.socLinkItemLight {
  width: 32px;
  height: 32px;
}

.socialIconLight {
  width: 32px;
  height: 32px;
  fill: variables.$secondaryTextColor;
  stroke: none;
}

.instagramIconLight {
  fill: none;
  stroke: variables.$secondaryTextColor;
}

.socialIconDark {
  width: 32px;
  height: 32px;
  fill: variables.$mainTextColor;
  stroke: variables.$mainTextColor;
}

.instagramIconDark {
  fill: none;
  stroke: variables.$mainTextColor;
}
