@use "@/app/variables";

.burgerMenuFrame {
  position: absolute;
  left: 0;
  width: 100%;

  overflow: hidden;
}

.burgerMenuSection {
  width: 100%;
  height: fit-content;
  background-color: variables.$mainBgColor;
  padding: 56px 100px;

  @media screen and (max-width: 359px) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.burgerMenuSectionVisible {
  transform: translateY(0);
}

.burgerMenuSectionHidden {
  transform: translateY(-100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
