.ItemSliderBottom {
  width: 100%;
  aspect-ratio: 320 / 92;
  margin-left: 0;
  margin-right: 0;
}

.ItemSliderBottom .swiper-slide {
  overflow: hidden;
}

.ItemSliderBottom .swiper-slide img {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .ItemSliderBottom {
    aspect-ratio: 704 / 140;
  }
}

@media screen and (min-width: 1440px) {
  .ItemSliderBottom {
    width: 1200px;
    height: 180px;
  }
}
