.ItemSliderTop {
  width: 100%;
  aspect-ratio: 320 / 220;
  margin-bottom: 12px;
}

.ItemSliderTop .swiper-slide {
  width: 300px;
  height: 300px;
  height: 100%;
}

.ItemSliderTop .swiper-slide img {
  object-fit: cover;
  object-position: center;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: none;
  -o-transform: translate3d(0, 0, 0);
  transform: none;
}

.ItemSliderTop .swiper-button-prev,
.ItemSliderTop .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 32px;
  height: 32px;
}

.ItemSliderTop .swiper-button-prev::after,
.ItemSliderTop .swiper-button-next::after {
  display: none;
}

.ItemSliderTop .swiper-button-prev {
  background-image: url("../../../public/svg/sliderArrowLeft.svg");
  top: 50%;
  left: 2px;
}

.ItemSliderTop .swiper-button-next {
  background-image: url("../../../public/svg/sliderArrowRight.svg");
  top: 50%;
  right: 2px;
}

@media screen and (min-width: 768px) {
  .ItemSliderTop {
    aspect-ratio: 704 / 449;
    margin-bottom: 8px;
  }

  .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    width: 56px;
    height: 56px;
  }

  .ItemSliderTop .swiper-button-prev {
    left: 8px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .ItemSliderTop {
    width: 1200px;
    height: 765px;
    margin-bottom: 16px;
  }

  .ItemSliderTop .swiper-button-prev {
    left: 20px;
  }

  .ItemSliderTop .swiper-button-next {
    right: 20px;
  }
}
