@use "@/app/variables";

.footer {
  @include variables.sectionSidePadding;

  & {
    padding-top: 20px;
    padding-bottom: 20px;
    color: variables.$secondaryTextColor;
    background-color: variables.$secondaryBgColor;
  }

  @media screen and (min-width: variables.$desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.container {
  @media screen and (min-width: variables.$tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.customFooterNav {
  display: none;

  @media screen and (min-width: variables.$tablet) {
    width: 430px;
  }

  @media screen and (min-width: variables.$laptop) {
    width: 500px;
  }

  @media screen and (min-width: variables.$desktop) {
    width: 550px;
  }
}

.socLinksAndPrivacyPolicyWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media screen and (min-width: variables.$tablet) {
    width: fit-content;
    row-gap: 12px;
  }

  @media screen and (min-width: variables.$desktop) {
    row-gap: 16px;
  }
}

.customSocLinks {
  @media screen and (min-width: variables.$desktop) {
    column-gap: 0px;
    justify-content: space-between;
  }
}

.privacyPolicyLink {
  padding: 2px 4px 2px 2px;
}
